:host {
    // width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 40px;
        height: 40px;
    }

    .btn {
        background: #E8EFF2;
        width: 151px;
        height: 48px;
        border-radius: 8px;
        text-align: center;
        padding: 10px;
    }
}
