@import '_colors';

$component: '.app-btn';

#{$component} {
    cursor: pointer;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        width: 175px;
        height: 58px;
    }

    // Color modifier
    &--primary {
        background: $orange;
        color: $white;

        &:hover {
            background: $orange-light;
        }
    }

    &--secondary {
        background: $grey-light;
        color: $blue;

        &:hover {
            background: $blue;
            color: $white;
        }
    }
}
