:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        &>* {
            flex-basis: 20%;
        }
    }

}
