:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (min-device-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;

        &>* {
            flex-basis: 41%;
        }
    }

    @media screen and (min-device-width: 1024px) {
        flex-wrap: nowrap;
        &>* {
            margin-right: 30px;
        }
    }

}
