@import '_colors';

:host {
    width: 327px;
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 64px;

    @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        width: 281px;
        height: 289px;
        align-items: flex-start;
    }

    @media screen and (min-device-width: 1024px) {
        width: 255px;
        height: 323px;
        align-items: baseline;
    }

    .icon {
        width: 65px;
        height: 65px;
        border-radius: 16px;
        background: $orange;
        display: flex;
        justify-content: center;
        align-items: center;

        &__svg {
            background-repeat: no-repeat;
        }
    }

    .title {
        width: 65%;
        height: 56px;
        text-align: center;
    }

    .description {
        width: 100%;
        height: 104px;
        text-align: center;
    }

    @media screen and (min-device-width: 768px) {
        .title,
        .description {
            text-align: start;
        }

        .title {
            width: 75%;
        }
    }

    @media screen and (min-device-width: 1024px) {
        .description {
            width: 97%;
        }
    }


}


:host-context(.card--1) {
    .icon__svg {
        background: url("../../assets/images/shared/icon-compatible.svg");
        width: 21px;
        height: 26px;
    }
}

:host-context(.card--2) {
    .icon__svg {
        background: url("../../assets/images/shared/icon-bluetooth.svg");
        width: 19px;
        height: 28px;
    }

}

:host-context(.card--3) {
    .icon__svg {
        background: url("../../assets/images/shared/icon-battery.svg");
        width: 32px;
        height: 21px;
    }
}


:host-context(.card--4) {
    .icon__svg {
        background: url("../../assets/images/shared/icon-light.svg");
        width: 32px;
        height: 32px;
    }
}
