<div class="container">
  <div class="item header">
    <div class="header__tm">🌰</div>
    <div class="btn">🌴</div>
  </div>

  <div class="item content-top">
    <div class="content-top__title">
      🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛🐛
    </div>
    <div class="content-top__description">
      🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖🐖
    </div>
    <div class="content-top__fx">
      <div class="btn btn--1">🐜🐜🐜</div>
      <div class="subtitle">🐝🐝🐝🐝🐝</div>
    </div>
  </div>

  <div class="item image image--1"></div>
  <div class="item images__fx">
    <div class="image image--2"></div>
    <div class="image image--3"></div>
  </div>

  <div class="item content-middle">
    <div class="content-middle__title">🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡🐡</div>
    <div class="content-middle__description">
      🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞🐞
    </div>
  </div>

  <div class="item cards">
    <div class="card card--1">
      <div class="card__icon">🌶</div>
      <div class="card__title">🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯</div>
      <div class="card__description">
        🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭
      </div>
    </div>
    <div class="card card--2">
      <div class="card__icon">🌶</div>
      <div class="card__title">🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯</div>
      <div class="card__description">
        🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭
      </div>
    </div>
    <div class="card card--3">
      <div class="card__icon">🌶</div>
      <div class="card__title">🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯</div>
      <div class="card__description">
        🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭
      </div>
    </div>
    <div class="card card--4">
      <div class="card__icon">🌶</div>
      <div class="card__title">🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯🌯</div>
      <div class="card__description">
        🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭🌭
      </div>
    </div>
  </div>

  <div class="item content-bottom">
    <div class="content-middle__subtitle">
      🐢🐢🐢🐢🐢🐢🐢🐢🐢🐢🐢🐢
    </div>
  </div>
</div>
