.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    height: 307px;
    margin: 24px 24px 50px 24px;
    column-gap: 45px;
    position: relative;
    height: 3007px;

    .item {
        // display: grid;
        // justify-content: center;
        // align-items: center;
    }

    .header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }


    .content-top {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    .image {
        border-radius: 20px;
    }

    .image--1 {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        width: 372px;
        height: 331px;
        content: url("../assets/images/mobile/image-keyboard.jpg");
        margin-left: 0;
    }

    .fx {
        margin-top: 24px;
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        height: 193px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -45px;

        .image {
            height: 193px;

            &--2 {
                width: 129px;
                content: url("../assets/images/mobile/image-phone-and-keyboard.jpg");
            }

            &--3 {
                width: 220px;
                content: url("../assets/images/mobile/image-glass-and-keyboard.jpg");
            }
        }

    }

    .content-middle {
        margin-top: 76px;
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    }

    .cards {
        grid-column: 1 / -1;
        grid-row: 6 / 7;
        margin: 47px auto 32px auto;
    }

    .content-bottom {
        grid-column: 1 / -1;
        grid-row: 7 / 8;
    }
}
