.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    height: 307px;
    margin: 24px 24px 50px 24px;
    column-gap: 45px;
    position: relative;
    height: 3007px;

    .item {
        // display: grid;
        // justify-content: center;
        // align-items: center;
    }

    .header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        // width: 100%;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__tm {
            background: #F16718;
            width: 40px;
            height: 40px;
        }

        .btn {
            background: #E8EFF2;
            width: 151px;
            height: 48px;
            border-radius: 8px;
            text-align: center;
            padding: 10px;
        }
    }


    .content-top {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        width: 100%;
        height: 286px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__title {
            background: black;
            width: 100%;
            height: 96px;
        }

        &__description {
            background: black;
            width: 100%;
            height: 78px;
        }

        &__fx {
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn {
                border-radius: 8px;

                &--1 {
                    background: #F16718;
                    width: 150px;
                    height: 48px;
                }
            }

            .subtitle {
                width: 128px;
                height: 26px;
                background: black;
            }
        }
    }

    .image {
        border-radius: 20px;
    }

    .image--1 {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        width: 372px;
        height: 331px;
        background: rgb(150, 199, 100);
        margin-left: 0;
        // position: absolute;
        // left: 24px;
    }

    .images__fx {
        margin-top: 24px;
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        height: 193px;
        background: lightblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -45px;

        .image {
            height: 193px;

            &--2 {
                background: lightcoral;
                width: 129px;
            }

            &--3 {
                background: lightpink;
                width: 220px;
            }
        }

    }

    .content-middle {
        margin-top:76px;
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        width: 100%;
        height: 236px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__title {
            background: black;
            width: 100%;
            height: 108px;
        }

        &__description {
            background: black;
            width: 100%;
            height: 104px;
        }
    }

    .cards{
        grid-column: 1 / -1;
        grid-row: 6 / 7;
        margin: 47px auto 32px auto;

        .card{
            margin-bottom: 64px;
            width: 327px;
            height: 297px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &__icon{
                width: 65px;
                height: 65px;
                background: pink;
            }

            &__title{
                width: 100%;
                height: 56px;
                background: lightgoldenrodyellow;
            }

            &__description{
                width: 100%;
                height: 104px;
                background: lightyellow;
            }
        }
    }

    .content-bottom {
        grid-column: 1 / -1;
        grid-row: 7 / 8;
        display: flex;
        justify-content: center;
        
        .subtitle {
            width: 100%;
            height: 26px;
            background: lightseagreen;
            text-align: center;
        }
    }
}
