@import '_fonts';
@import '_colors';
// @import '_grid';
// @import '_layout';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @extend .font-body;
    margin: 0;
}

html,
body {
    // overflow-x: hidden;
    // background: $cream-white;
}

app-root {
    min-height: 100vh;
}

h1,
p {
    margin: 0;
}

h1 {
    @extend .font-h1;
    text-transform: uppercase;
}

h2 {
    @extend .font-h2;
    text-transform: uppercase;
}

h3 {
    @extend .font-h3;
    text-transform: uppercase;
}

p {
    @extend .font-body;
    color: $grey;
}
